body {
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: #fff;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}
.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: var(--navyblue);
}
.menu-nav {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--ocean);
  text-decoration: underline;
}
.list-contacts {
  font-style: normal;
}
.contacts {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}
.hero {
  background: var(--navyblue);
}
.title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  background: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean);
}
.header-second {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header-third {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  background: var(--cloud);
}
.list-team-item {
  background: var(--white);
}
.filter-btn {
  color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.page-end {
  background: var(--navyblue);
}
.logo-studio-end {
  color: var(--cloud);
}
.page-end .text {
  color: var(--cloud);
}
